<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/project.css">
    <link rel="stylesheet" href="styles/mobile.css">
    <link rel="stylesheet" href="data-table-lib/css/datatable.css" />
    <link rel="shortcut icon" type="image/png" th:href="@{images/favicon.png}"/>
    <title>21 world - проекты</title>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(90563206, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/90563206" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>
<body>
<div class="wrapper">

    <div class="header">
        <div class="logo">
            <a href="/"><img src="images/logo.png" alt="21 school"></a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/">Карта пиров</a></li>
                <li><a href="/stat">Статистика</a></li>
                <li>Проекты</li>
                <li><a href="/availability">Доступность проектов</a></li>
            </ul>
        </div>
    </div>

    <div class="content_wrapper">
        <div class="content">
<!--            <div id="preloader">Loading...</div>-->
            <div class="select-form">
                <form action="/project">
                    <div class="form-block">
                        <label>
                            <select name="id">
                                <option hidden disabled selected value>Выбери проект</option>
                                <option value="26478">C2 SimpleBashUtils</option>
                                <option value="26477">C3 s21_string+</option>
                                <option value="26480">C4 s21_math</option>
                                <option value="26481">C5 s21_decimal</option>
                                <option value="26482">C6 s21_matrix </option>
                                <option value="26483">C7 SmartCalc_v1.0</option>
                                <option value="26484">C8 3DViewer_v1.0</option>
                                <option value="26485">CPP1 s21_matrix+</option>
                                <option value="26486">CPP2 s21_containers</option>
                                <option value="26487">CPP3 SmartCalc_v2.0</option>
                                <option value="26488">CPP4 3DViewer_v2.0</option>
                                <option value="26489">CPP5 3DViewer_v2.1</option>
                                <option value="26490">CPP6 3DViewer_v2.2</option>
                                <option value="26491">CPP7 MLP</option>
                                <option value="26492">CPP8 PhotoLab_v1.0</option>
                                <option value="26493">CPP9 MonitoringSystem</option>
                                <option value="151">CPPE CPPE</option>
                                <option value="26557">DO1 Linux</option>
                                <option value="26558">DO2 Linux Network</option>
                                <option value="26561">DO3 LinuxMonitoring v1.0</option>
                                <option value="26563">DO4 LinuxMonitoring v2.0</option>
                                <option value="26565">DO5 SimpleDocker</option>
                                <option value="26566">DO6 CICD</option>
                                <option value="41377">DOE-T DevOps Exam</option>
                                <option value="26572">A4 Crypto</option>
                                <option value="26574">A5 s21_memory</option>
                                <option value="26577">A7 DNA Analyzer</option>
                                <option value="26568">A1 Maze</option>
                                <option value="26569">A2 SimpleNavigator v1.0</option>
                                <option value="26571">A3 Parallels</option>
                                <option value="27364">A6 Transactions</option>
                                <option value="26578">A8 Algorithmic trading</option>
                                <option value="1">SQL1 SQL Boot camp</option>
                                <option value="26583">SQL2 Info21 v1.0</option>
                                <option value="26585">SQL3 RetailAnalitycs v1.0</option>
                                <option value="4">APG1 Golang Boot camp</option>
                                <option value="26567">APG2 SmartCalc_v3.0 Desktop (Go)</option>
                                <option value="26564">APG3 SimpleWebStudio_v1.0_Go</option>
                                <option value="26562">APG4 Info21_v2.0_Web_Go</option>
                                <option value="26560">APG5 SmartCalc_v4.0_Web_Go</option>
                                <option value="26559">APG6 RetailAnalitycs_v2.0_Web_Go</option>
                                <option value="150">APJ1 Java Boot camp</option>
                                <option value="26595">APJ2 SmartCalc_v3.0 Desktop (Java)</option>
                                <option value="27373">APJ3 SimpleWebStudio_v1.0_Java</option>
                                <option value="26589">APJ4 Info21_v2.0_Web_Java</option>
                                <option value="26586">APJ5 SmartCalc_v4.0_Web_Java</option>
                                <option value="26584">APJ6 RetailAnalitycs_v2.0_Web_Java</option>
                                <option value="3">APC1 C# Boot camp</option>
                                <option value="26590">APC2 SmartCalc v3.0 Desktop (C#)</option>
                                <option value="26592">APC3 SimpleWebStudio v1.0 C#</option>
                                <option value="26593">APC4 Info21 v2.0 Web C#</option>
                                <option value="26594">APC5 SmartCalc v4.0 Web C#</option>
                                <option value="26596">APC6 RetailAnalitycs v2.0 Web C#</option>
                                <option value="2">APP1 Python Boot camp</option>
                                <option value="26581">APP2 SmartCalc_v3.0 Desktop (Python)</option>
                                <option value="26579">APP3 SimpleWebStudio_v1.0_Python</option>
                                <option value="26575">APP4 Info21_v2.0_Web_Python</option>
                                <option value="26573">APP5 SmartCalc_v4.0_Web_Python</option>
                                <option value="26570">APP6 RetailAnalitycs_v2.0_Web_Python</option>
                                <option value="116">Career track</option>
                                <option value="51204">Internship</option>
                                <option value="152">APE Core final exam</option>
                                <option value="61411">DO7 DevOps. Project 7 </option>
                                <option value="61424">DO8 DevOps. Project 8</option>
                                <option value="61425">DO9 DevOps. Project 9</option>
                                <option value="61426">DO10 DevOps. Project 10</option>
                                <option value="61427">DO11 DevOps. Project 11</option>
                                <option value="61428">DO12 DevOps. Project 12</option>
                                <option value="113">DS Bootcamp</option>
                                <option value="51485">DS1 DS. Project 01. Tweets</option>
                                <option value="51486">DS2 DS. Project 02. Churn prediction</option>
                                <option value="51487">DS3 DS. Project 03. MySpotify</option>
                                <option value="51488">DS4 DS. Project 04. Understanding customer.</option>
                                <option value="51489">DS5 DS. Project 05. Uber</option>
                                <option value="51492">DS6 DS. Project 06. City life</option>
                                <option value="51491">DS7 DS. Project 07. Amazon</option>
                                <option value="51490">DS8 DS. Project 08. Fried Eggs</option>
                                <option value="27289">DSH1 DS Healthcare. Project 01 </option>
                                <option value="27290">DSH2 DS Healthcare. Project 02</option>
                                <option value="27292">DSH3 DS Healthcare. Project 03</option>
                                <option value="27295">DSH4 DS Healthcare. Project 04</option>
                                <option value="27298">DSH5 DS Healthcare. Project 05</option>
                                <option value="27299">DSH6 DS Healthcare. Project 06</option>
                                <option value="112">Frontend Bootcamp</option>
                                <option value="110">ROS Bootcamp</option>
                                <option value="117">Electrical engineering Bootcamp</option>
                                <option value="109">DB Bootcamp</option>
                                <option value="153">Swift Bootcamp</option>
                            </select>
                        </label>
                    </div>
                    <div class="form-block">
                        <button type="submit">Применить</button>
                    </div>
                </form>
            </div>
            <div class="project-info" th:if="${ not#lists.isEmpty(project)}">
                <h2><span th:text="${project.nodeCode}"></span> <span th:text="${project.projectName}"></span></h2>
                <p><span th:text="${project.mandatory}"></span>,
                    <span th:text="${project.type}"></span>.
                    <span th:text="${project.points}"></span> points,
                    duration <span th:text="${project.duration}"></span>
                </p>
                <p class="description" th:text="${project.projectDescription}"></p>
            </div>
            <div id="tableDiv">
                <div class="table-wrapper">
                    <table class="table table-custom" th:if="${ not#lists.isEmpty(users)}">
                        <thead>
                        <tr>
                            <th>Логин</th>
                            <th>Кампус</th>
                            <th>Коалиция</th>
                            <th>Волна</th>
                            <th>Класс</th>
                            <th>Уровень</th>
                            <th>XP пира</th>
                            <th>Результат проекта</th>
                            <th>Статус</th>
                            <th>Место</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.login}"></td>
                            <td th:text="${user.campus}"></td>
                            <td th:text="${user.coalition}"></td>
                            <td th:text="${user.wave}"></td>
                            <td th:text="${user.platformClass}"></td>
                            <td th:text="${user.level}"></td>
                            <td th:text="${user.xp}"></td>
                            <td th:text="${user.score}"></td>
                            <td th:text="${user.state}"></td>
                            <td th:text="${user.location}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="pagination"></div>
            </div>
            <script src="data-table-lib/js/datatable.js"></script>
            <script>
                new DataTable(document.querySelector('.table'), {
                    pageSize: 20,
                    sort: [true, true, true, true, true, true, true, true, true, true],
                    filters: [true, 'select', 'select', 'select', 'select', 'select', false, false, 'select', true],
                    pagingDivSelector: "#pagination",
                });
                const tableDiv = document.getElementById('tableDiv');
                const preloaderDiv = document.getElementById('preloader');
                tableDiv.style.display = 'block';
                preloaderDiv.style.display = 'none';

            </script>
            <div class="lastUpdate">Последнее обновление: <span th:text="${@parser.getLastUpdateTime()}"></span></div>
            <div class="thanks">♡ Спасибо за помощь: @leantoni, @tandrasc, @wabathur</div>
        </div>
        <div class="footer">
            <div class="donate"><a href="https://yoomoney.ru/bill/pay/tXlM4gMwpmQ.230528" target="_blank">Задонатить</a> на оплату сервера и кофе автору</div>
            <div class="copyright">&#169; <a href="https://t.me/eto_misha" target="_blank">fbeatris</a></div>
        </div>
    </div>
</div>

</body>
</html>