html {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    font-size: 100%;
    line-height: 1.3;
    height: 100%;
    /*font-weight: lighter;*/
    color: black;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding-top: 2em;
    width: 100%;
    background-image: linear-gradient(236deg, #74ebd5, #acb6e5);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}

p, h2 {
    margin: 0 0 15px;
}

a {
    text-decoration: underline;
    color: black;
}

a:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    font-weight: lighter;
}

h1 a {
    color: inherit;
}

:root {
    font-family: Helvetica, Arial, sans-serif;
}

.header {
    position: relative;
}

.logo {
    display: inline-block;
}

.logo img {
    width: 218px;
    height: 50px;
    /*float: left;*/
    /*margin-left: -250px;*/
}

.header-text {
    display: inline-block;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.menu {
    font-size: 150%;
    display: inline-block;
    position: absolute;
    top: 35px;
    margin-left: 80px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.menu li {
    display: inline;
    margin-right: 2em;
    /*padding: 60px;*/
}

.menu a {
    text-decoration: underline;
    color: white;
}


.wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 5em;
    margin-left: 1em;
    margin-bottom: 1em;
}

.content_wrapper {
    padding-bottom: 2em;
    height: 100%;
}

.content {
    margin-top: 3em;
    margin-bottom: 2em;
}

table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 20px;
}

th {
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.3);
}

td {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th:nth-of-type(1),
td:nth-of-type(1) {
    width:10%;
}
th:nth-of-type(2),
td:nth-of-type(2) {
    width:7%;
}
th:nth-of-type(3),
td:nth-of-type(3) {
    width:10%;
    white-space: normal;
}
th:nth-of-type(4),
td:nth-of-type(4) {
    width:5%;
}
th:nth-of-type(5),
td:nth-of-type(5) {
    width:10%;
}
th:nth-of-type(6),
td:nth-of-type(6) {
    width:10%;
}
th:nth-of-type(7),
td:nth-of-type(7) {
    width:5%;
}
th:nth-of-type(8),
td:nth-of-type(8) {
    width:5%;
}
th:nth-of-type(9),
td:nth-of-type(9) {
    width:5%;
}
th:nth-of-type(10),
td:nth-of-type(10) {
    width:5%;
}
th:nth-of-type(11),
td:nth-of-type(11) {
    width:5%;
}
/*th:nth-of-type(12),*/
/*td:nth-of-type(12) {*/
/*    width:9%;*/
/*}*/
th:nth-of-type(12),
td:nth-of-type(12) {
    width:7%;
}

th:nth-of-type(13),
td:nth-of-type(13) {
    white-space: normal;
}

.copyright {
    /*position: absolute;*/
    /*right: 50px;*/
    /*bottom: 50px;*/
    font-size: small;
    text-align: right;
}

.map_text {
    max-width: 1080px;
    margin-bottom: 100px;
}

form {}
.map_form input[type=text], input[type=password], textarea {
    min-width: 500px;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
}

input[type=radio] {
    margin-left: 20px;
    height: 1.2em;
    width: 1.2em;
}
button {
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    min-width: 500px;
}

button:hover {
    opacity: 0.8;
}
.form-container {
    text-align: left;
    margin: 24px 0 12px;
    vertical-align: top;
}

.form-block {
    max-width: 550px;
    display: inline-block;
    margin-right: 80px;
    vertical-align: top;
}
.container {
    padding: 16px 0;
    text-align:left;
}

.table-custom input[type=text], input[type=password], select, textarea {
    width: 100%;
    padding: 8px 8px;
    /*margin: 8px 0;*/
    display: inline-block;
    border: none;
    box-sizing: border-box;
}

/*!* Change styles for span on extra small screens *!*/
/*@media screen and (max-width: 300px) {*/
/*    span.psw {*/
/*        display: block;*/
/*        float: none;*/
/*    }*/
/*}*/


.pagination a {
    text-decoration: none;
}

.lastUpdate {
    font-size: smaller;
    text-align: right;
}


/*!* Change styles for span on extra small screens *!*/
/*@media screen and (max-width: 300px) {*/
/*    span.psw {*/
/*        display: block;*/
/*        float: none;*/
/*    }*/
/*}*/
