/*.table-wrapper {*/
/*    text-align: center;*/
/*}*/

.intro-text {
    width:80%;
    margin:0 auto;
}

.table-projects {
    width:80%;
    border-collapse:collapse;
    border-spacing:0;
    margin:0 auto;
    white-space: normal;
}

.table-projects td {
    border-color:black;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.table-projects th {
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.underlined {
    border-bottom: 2px solid black;
}

.made-by {
    text-align: right;
    font-style: italic;
    padding-top: 20px;
    border: none!important;
}