<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="data-table-lib/css/datatable.css" />
    <title>21 world - peer statistic</title>
</head>
<body>
<div class="wrapper">

    <div class="header">
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" alt="21 school"></a>
        </div>
<!--        <div class="header-text">-->
<!--            <h1><a href="index.html">Info 21 v2 by fbeatris</a></h1>-->
<!--        </div>-->
    </div>
    <div class="menu">
        <ul>
            <li><a href="map.html">Карта пиров</a></li>
            <li>Статистика</li>
        </ul>
    </div>
    <div class="content_wrapper">
<!--        <h2>Подзаголовок</h2>-->
        <div class="content">
<!--            <p>Основное содержимое</p>-->
            <div th:if="${ not#lists.isEmpty(users)}">
                <table class="table table-custom">
                    <thead>
                        <tr>
                            <th>Login</th>
                            <th>Campus</th>
                            <th>Coalition</th>
                            <th>Wave</th>
                            <th>Bootcamp</th>
                            <th>Level</th>
                            <th>XP</th>
                            <th>PRP</th>
                            <th>CRP</th>
                            <th>Coins</th>
                            <th>Month XP</th>
                            <th>3 Months XP</th>
                            <th>Current project</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.login}"></td>
                            <td th:text="${user.campus}"></td>
                            <td th:text="${user.coalition}"></td>
                            <td th:text="${user.wave}"></td>
                            <td th:text="${user.bootcamp}"></td>
                            <td th:text="${user.level}"></td>
                            <td th:text="${user.xp}"></td>
                            <td th:text="${user.peerPoints}"></td>
                            <td th:text="${user.codeReviewPoints}"></td>
                            <td th:text="${user.coins}"></td>
                            <td th:text="${user.diff}"></td>
                            <td th:text="${user.diff3}"></td>
                            <td th:text="${user.currentProject}"></td>
                        </tr>
                    </tbody>
                </table>
                <div id="pagination"></div>
            </div>
            <script src="data-table-lib/js/datatable.js"></script>
            <script src="data-table-lib/js/datatable.jquery.js"></script>
            <script>
                const myTable = new DataTable(document.querySelector('.table'), {
                    pageSize: 20,
                    sort: [true, true, true, true, true, true, true, true, true, true, true, true, true],
                    filters: [true, 'select', 'select', 'select', 'select', 'select', false, false, false, false, false, false, true],
                    pagingDivSelector: "#pagination",
                });
            </script>
        </div>
    </div>
</div>

</body>
</html>