<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link href="theme.css" rel="stylesheet">
    <title>21 world - peer statistic</title>
</head>
<body>
<div class="wrapper">

    <div class="header">
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" alt="21 school"></a>
        </div>
<!--        <div class="header-text">-->
<!--            <h1><a href="index.html">Info 21 v2 by fbeatris</a></h1>-->
<!--        </div>-->
    </div>
    <div class="menu">
        <ul>
            <li><a href="map.html">Карта пиров</a></li>
            <li>Статистика</li>
        </ul>
    </div>
    <div class="content_wrapper">
<!--        <h2>Подзаголовок</h2>-->
        <div class="content">
            <main id="main">
                <section id="table-container">
                    <div data-st-loading-indicator="">
                        Processing ...
                    </div>
<!--            <p>Основное содержимое</p>-->
                    <div th:if="${ not#lists.isEmpty(users)}">
                        <table>
                            <thead>
                                <tr>
                                    <th data-st-sort="login">Login</th>
                                    <th data-st-sort="campus">Campus</th>
                                    <th data-st-sort="coalition">Coalition</th>
                                    <th data-st-sort="wave">Wave</th>
                                    <th data-st-sort="bootcamp">Bootcamp</th>
                                    <th>Level</th>
                                    <th>Xp</th>
                                    <th>Peer points</th>
                                    <th>CR points</th>
                                    <th>Coins</th>
                                    <th>Month XP</th>
                                    <th>3 Months XP</th>
                                    <th>Current project</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.login}">Login</td>
                                    <td th:text="${user.campus}"></td>
                                    <td th:text="${user.coalition}"></td>
                                    <td th:text="${user.wave}"></td>
                                    <td th:text="${user.bootcamp}"></td>
                                    <td th:text="${user.level}"></td>
                                    <td th:text="${user.xp}"></td>
                                    <td th:text="${user.peerPoints}"></td>
                                    <td th:text="${user.codeReviewPoints}"></td>
                                    <td th:text="${user.coins}"></td>
                                    <td th:text="${user.diff}"></td>
                                    <td th:text="${user.diff3}"></td>
                                    <td th:text="${user.currentProject}"></td>
                                </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="3" data-st-summary></td>
                                <td colspan="2">
                                    <div data-st-pagination></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </section>
            </main>
        </div>
    </div>
</div>
<script src="dataBundle.js"></script>
<script src="bundle.js"></script>

</body>
</html>