<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="data-table-lib/css/datatable.css" />
    <link rel="shortcut icon" type="image/png" th:href="@{images/favicon.png}"/>
    <title>21 world - статистика пиров платформы</title>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(90563206, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/90563206" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<body>
<div class="wrapper">

    <div class="header">
        <div class="logo">
            <a href="/"><img src="images/logo.png" alt="21 school"></a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/">Карта пиров</a></li>
                <li>Статистика</li>
            </ul>
        </div>
    </div>

    <div class="content_wrapper">
        <div class="content">
            <div id="preloader">Loading...</div>
            <div th:if="${ not#lists.isEmpty(users)}" id="tableDiv">
                <div class="table-wrapper">
                    <table class="table table-custom">
                        <thead>
                        <tr>
                            <th>Логин</th>
                            <th>Кампус</th>
                            <th>Коалиция</th>
                            <th>Волна</th>
                            <th>Класс</th>
                            <th>Бассейн</th>
                            <th>Уровень</th>
                            <th>XP</th>
                            <th>PRP</th>
                            <th>CRP</th>
                            <th>Coins</th>
                            <th title="Прирост XP за последние 3 месяца">XP за 3 мес</th>
                            <th>Текущие проекты</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td>
                                <a target="_blank"
                                   th:href="@{https://edu.21-school.ru/profile/{email}(email=${user.email})}"
                                   th:text="${user.login}">
                                </a>
                            </td>
                            <td th:text="${user.campus}"></td>
                            <td th:text="${user.coalition}"></td>
                            <td th:text="${user.wave}"></td>
                            <td th:text="${user.platformClass}"></td>
                            <td th:text="${user.bootcamp}"></td>
                            <td th:text="${user.level}"></td>
                            <td th:text="${user.xp}"></td>
                            <td th:text="${user.peerPoints}"></td>
                            <td th:text="${user.codeReviewPoints}"></td>
                            <td th:text="${user.coins}"></td>
                            <td th:text="${user.diff3}"></td>
                            <td th:text="${user.currentProject}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="pagination"></div>
            </div>
            <script src="data-table-lib/js/datatable.js"></script>
            <script>
                new DataTable(document.querySelector('.table'), {
                    pageSize: 20,
                    sort: [true, true, true, true, true, true, true, true, true, true, true, true, true],
                    filters: [true, 'select', 'select', 'select', 'select', 'select', 'select', false, false, false, false, false, true],
                    pagingDivSelector: "#pagination",
                });
                const tableDiv = document.getElementById('tableDiv');
                const preloaderDiv = document.getElementById('preloader');
                tableDiv.style.display = 'block';
                preloaderDiv.style.display = 'none';

            </script>
            <div class="lastUpdate">Последнее обновление: <span th:text="${@parser.getLastUpdateTime()}"></span></div>
        </div>
        <div class="footer">
            <div class="donate"><a href="https://yoomoney.ru/bill/pay/tXlM4gMwpmQ.230528" target="_blank">Задонатить</a> на оплату сервера и кофе автору</div>
            <div class="copyright">&#169; <a href="https://t.me/eto_misha" target="_blank">fbeatris</a></div>
        </div>
    </div>
</div>

</body>
</html>