
@media screen and (max-width : 320px)
{
    html
    {
        font-size: 100%;;
    }
}
@media screen and (max-width : 1024px)
{
    html {
        font-size: 200%;;
    }

    .logo img {
        width: 290px!important;
        height: 67px!important;
    }

    .menu {
        font-size: 100%!important;
        margin-top: 15px;
    }

    .menu li {
        padding-top: 15px;
        display: block;
    }

    .form-block {
    }

    .form-block label {
        display: block;
    }
    .form-block label input {
        display: table-cell; vertical-align: middle;
    }

    .map_form input[type="text"] {
        width:100%;
    }

    .form-block input[type="radio"] {
        width:25px;
        height:25px;
    }

    .map_form button {
        min-width: 550px!important;
        font-size: 70%;
    }

    .table-projects {
        font-size: smaller;
        width:100%!important;
    }

    .intro-text {
        width: 100%!important;
    }

    th:nth-of-type(14),
    td:nth-of-type(14) {
        white-space: normal;
    }

    td:nth-of-type(14) {
        font-size: 60%;
    }

    .project-info {
        display: table;
        padding-top: 50px;
    }

    .project-info .description {
        font-size: smaller;
    }

    .select-form .form-block {
        margin-top: 50px;
        width:40%
    }

    .select-form option {
        font-size: 30%;
    }

    .select-form button {
        font-size: 100%;
    }

    .select-form select {
        font-size: 100%;
    }
}