.table-wrapper {
    overflow-x: scroll;
}

table, th, td {
    border: 1px solid #BBB;
}

table {
    /*width: 100%;*/
    min-width: 1100px;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 20px;
    font-size: smaller;

}

th {
    text-align: left;
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.5);
}

td {
    padding: 10px;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}

/*th:nth-of-type(1),*/
/*td:nth-of-type(1) {*/
/*    width:2%;*/
/*}*/
/*th:nth-of-type(2),*/
/*td:nth-of-type(2) {*/
/*    width:10%;*/
/*}*/
/*th:nth-of-type(3),*/
/*td:nth-of-type(3) {*/
/*    width:7%;*/
/*}*/
/*th:nth-of-type(4),*/
/*td:nth-of-type(4) {*/
/*    width:10%;*/
/*    white-space: normal;*/
/*}*/
/*th:nth-of-type(5),*/
/*td:nth-of-type(5) {*/
/*    width:5%;*/
/*}*/
/*th:nth-of-type(6),*/
/*td:nth-of-type(6) {*/
/*    width:10%;*/
/*}*/
/*th:nth-of-type(7),*/
/*td:nth-of-type(7) {*/
/*    width:10%;*/
/*}*/
/*th:nth-of-type(8),*/
/*td:nth-of-type(8) {*/
/*    width:5%;*/
/*}*/
/*th:nth-of-type(9),*/
/*td:nth-of-type(9) {*/
/*    width:7%;*/
/*}*/
/*th:nth-of-type(10),*/
/*td:nth-of-type(10) {*/
/*    width:5%;*/
/*}*/
/*th:nth-of-type(11),*/
/*td:nth-of-type(11) {*/
/*    width:5%;*/
/*}*/
/*th:nth-of-type(12),*/
/*td:nth-of-type(12) {*/
/*    width:5%;*/
/*}*/
/*!*th:nth-of-type(12),*!*/
/*!*td:nth-of-type(12) {*!*/
/*!*    width:9%;*!*/
/*!*}*!*/
/*th:nth-of-type(13),*/
/*td:nth-of-type(13) {*/
/*    width:7%;*/
/*}*/

/*th:nth-of-type(14),*/
/*td:nth-of-type(14) {*/
/*    white-space: normal;*/
/*}*/


.pagination a {
    text-decoration: none;
}

.lastUpdate {
    font-size: smaller;
    text-align: right;
}

#tableDiv {
    display: none;
    clear: both;
}

#preloader {
    padding-top: 10%;
    padding-bottom: 25%;
    text-align: center;
}

.thanks {
    font-size: smaller;
    text-align: right;
    font-style: italic;
    padding-top: 15px;
}

.select-form {
    padding-bottom: 50px;
    display: table;
}

.form-block {
    float: left;
    margin-right: 20px;
}

button {
    /*padding: 14px 0;*/
    border: none;
    /*min-width: 500px;*/
    padding: 8px 8px;
    background-color: #BBBBBB;
}

button:hover {
    opacity: 0.8;
}